In [1]:
def hello():
    print('hello')

hello()

hello

In [2]:
def hello(msg):
    print(msg)

hello('hello')
hello('good moring')

hello
good moring

In [3]:
def hello(x, y = 10):
    z = x + y
    print(z)

hello(10,)

20

In [4]:
def hello(name, age):
    msg = f'{name} is {age} years old.'
    print(msg)

hello('marco','21')

marco is 21 years old.

In [5]:
def a(x, y):
    result = x + y * 2
    return result

b = a(1, 2)
c = a(2, 3)
print(b, c)

5 8

In [6]:
def a(x):
    result = 0
    while result < 10:
        result = result + x
        if result == 5:
            return result
    return result

b = a(1)
c = a(2)
print(b,c)

5 10

當x=1代入a(x)中時, result += x的迴圈會出現result = 5的狀況, 因此就會直接回傳並印出5  
但當x=2代入時, result並不會出現5, 而是2 4 6 8 10, 因此會一直執行到result == 10時才跳出迴圈並印出10

In [7]:
def tf(value):
    return 2 * value - 1

test_values = [0.0, 0.0011, 0.25, 0.5,0,54, 0.75, 1.0]
scaled_values = [tf(value) for value in test_values]
print("Original values: ", test_values)
print("Scaled values: ", scaled_values)

Original values:  [0.0, 0.0011, 0.25, 0.5, 0, 54, 0.75, 1.0]
Scaled values:  [-1.0, -0.9978, -0.5, 0.0, -1, 107, 0.5, 1.0]

In [8]:
def a(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n + a(n - 1)

print(a(3))

6

In [9]:
with open('test.txt','w') as f1:
    f1.write('good morning')

In [10]:
f = open('test.txt','r')
a = f.read()
print(a)
f.close()

good morning

In [11]:
import datetime
print(datetime.datetime.now())
print(datetime.date.today())

2024-10-02 17:34:32.140784
2024-10-02

In [12]:
import datetime as dd
print(dd.datetime.now())
print(dd.date.today())

2024-10-02 17:34:32.146910
2024-10-02

In [2]:
import pandas as pd
import numpy as np

In [4]:
dates = pd.date_range("20130101", periods=6)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns = list("ABCD"))
print(df)

                   A         B         C         D
2013-01-01 -1.225880 -0.267427 -0.885455 -0.374412
2013-01-02 -1.413673  0.515136 -0.721941  1.734132
2013-01-03 -2.563290  1.250634  1.088354 -2.013576
2013-01-04 -0.871348  0.710303 -1.490258 -0.148848
2013-01-05 -1.785303  0.124893 -1.542130  0.110644
2013-01-06 -0.755312 -1.140654 -2.679118  1.214495

In [43]:
print(df.head(),'\n')
print(df.tail(3),'\n')
print(df.index,'\n')
print(df.columns)

                   A         B         C         D
2013-01-01 -1.225880 -0.267427 -0.885455 -0.374412
2013-01-02 -1.413673  0.515136 -0.721941  1.734132
2013-01-03 -2.563290  1.250634  1.088354 -2.013576
2013-01-04 -0.871348  0.710303 -1.490258 -0.148848
2013-01-05 -1.785303  0.124893 -1.542130  0.110644

                   A         B         C         D
2013-01-04 -0.871348  0.710303 -1.490258 -0.148848
2013-01-05 -1.785303  0.124893 -1.542130  0.110644
2013-01-06 -0.755312 -1.140654 -2.679118  1.214495

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

Index(['A', 'B', 'C', 'D'], dtype='object')

In [45]:
df2 = df.copy()
df2.to_numpy()

array([[-1.22587965, -0.26742691, -0.88545474, -0.37441228],
       [-1.41367277,  0.51513604, -0.72194081,  1.73413152],
       [-2.56329   ,  1.25063359,  1.0883543 , -2.01357598],
       [-0.87134788,  0.71030327, -1.49025769, -0.14884763],
       [-1.78530313,  0.12489254, -1.54213022,  0.11064411],
       [-0.75531202, -1.1406535 , -2.67911795,  1.2144948 ]])

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -1.435801  0.198814 -1.038425  0.087072
std    0.666275  0.834868  1.248719  1.316495
min   -2.563290 -1.140654 -2.679118 -2.013576
25%   -1.692396 -0.169347 -1.529162 -0.318021
50%   -1.319776  0.320014 -1.187856 -0.019102
75%   -0.959981  0.661511 -0.762819  0.938532
max   -0.755312  1.250634  1.088354  1.734132

In [21]:
q = df.describe()
print(q)

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -1.435801  0.198814 -1.038425  0.087072
std    0.666275  0.834868  1.248719  1.316495
min   -2.563290 -1.140654 -2.679118 -2.013576
25%   -1.692396 -0.169347 -1.529162 -0.318021
50%   -1.319776  0.320014 -1.187856 -0.019102
75%   -0.959981  0.661511 -0.762819  0.938532
max   -0.755312  1.250634  1.088354  1.734132

In [46]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.225880   -1.413673   -2.563290   -0.871348   -1.785303   -0.755312
B   -0.267427    0.515136    1.250634    0.710303    0.124893   -1.140654
C   -0.885455   -0.721941    1.088354   -1.490258   -1.542130   -2.679118
D   -0.374412    1.734132   -2.013576   -0.148848    0.110644    1.214495

In [27]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.374412 -0.885455 -0.267427 -1.225880
2013-01-02  1.734132 -0.721941  0.515136 -1.413673
2013-01-03 -2.013576  1.088354  1.250634 -2.563290
2013-01-04 -0.148848 -1.490258  0.710303 -0.871348
2013-01-05  0.110644 -1.542130  0.124893 -1.785303
2013-01-06  1.214495 -2.679118 -1.140654 -0.755312

In [51]:
print(df["A"],'\n')
print(df[0:3])

2013-01-01   -1.225880
2013-01-02   -1.413673
2013-01-03   -2.563290
2013-01-04   -0.871348
2013-01-05   -1.785303
2013-01-06   -0.755312
Freq: D, Name: A, dtype: float64

                   A         B         C         D
2013-01-01 -1.225880 -0.267427 -0.885455 -0.374412
2013-01-02 -1.413673  0.515136 -0.721941  1.734132
2013-01-03 -2.563290  1.250634  1.088354 -2.013576

In [53]:
print(df.loc[dates[0]],'\n')
print(df.loc[:, ["A", "B"]],'\n')
print(df.loc["20130102":"20130104", ["A", "B"]],'\n')
print(df.loc[dates[0], "A"])

A   -1.225880
B   -0.267427
C   -0.885455
D   -0.374412
Name: 2013-01-01 00:00:00, dtype: float64

                   A         B
2013-01-01 -1.225880 -0.267427
2013-01-02 -1.413673  0.515136
2013-01-03 -2.563290  1.250634
2013-01-04 -0.871348  0.710303
2013-01-05 -1.785303  0.124893
2013-01-06 -0.755312 -1.140654

                   A         B
2013-01-02 -1.413673  0.515136
2013-01-03 -2.563290  1.250634
2013-01-04 -0.871348  0.710303

-1.2258796522621238

In [55]:
print(df.iloc[3],'\n')
print(df.iloc[3:5, 0:2],'\n')
print(df.iloc[1:3, :])

A   -0.871348
B    0.710303
C   -1.490258
D   -0.148848
Name: 2013-01-04 00:00:00, dtype: float64

                   A         B
2013-01-04 -0.871348  0.710303
2013-01-05 -1.785303  0.124893

                   A         B         C         D
2013-01-02 -1.413673  0.515136 -0.721941  1.734132
2013-01-03 -2.563290  1.250634  1.088354 -2.013576

In [57]:
print(df[df > 0],'\n')
print(df[df["A"] > 0])

             A         B         C         D
2013-01-01 NaN       NaN       NaN       NaN
2013-01-02 NaN  0.515136       NaN  1.734132
2013-01-03 NaN  1.250634  1.088354       NaN
2013-01-04 NaN  0.710303       NaN       NaN
2013-01-05 NaN  0.124893       NaN  0.110644
2013-01-06 NaN       NaN       NaN  1.214495

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [59]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
print(df2[df2["E"].isin(["two", "four"])])

                   A         B         C         D     E
2013-01-03 -2.563290  1.250634  1.088354 -2.013576   two
2013-01-05 -1.785303  0.124893 -1.542130  0.110644  four

In [62]:
df2 = df.copy()
df2[df2 > 0] = -df2
print(df2)

                   A         B         C         D
2013-01-01 -1.225880 -0.267427 -0.885455 -0.374412
2013-01-02 -1.413673 -0.515136 -0.721941 -1.734132
2013-01-03 -2.563290 -1.250634 -1.088354 -2.013576
2013-01-04 -0.871348 -0.710303 -1.490258 -0.148848
2013-01-05 -1.785303 -0.124893 -1.542130 -0.110644
2013-01-06 -0.755312 -1.140654 -2.679118 -1.214495

In [64]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
print(df1)

                   A         B         C         D    E
2013-01-01 -1.225880 -0.267427 -0.885455 -0.374412  1.0
2013-01-02 -1.413673  0.515136 -0.721941  1.734132  1.0
2013-01-03 -2.563290  1.250634  1.088354 -2.013576  NaN
2013-01-04 -0.871348  0.710303 -1.490258 -0.148848  NaN

In [65]:
print(df1.dropna(),'\n')
print(df1.fillna(5),'\n')
print(df1.interpolate())

                   A         B         C         D    E
2013-01-01 -1.225880 -0.267427 -0.885455 -0.374412  1.0
2013-01-02 -1.413673  0.515136 -0.721941  1.734132  1.0

                   A         B         C         D    E
2013-01-01 -1.225880 -0.267427 -0.885455 -0.374412  1.0
2013-01-02 -1.413673  0.515136 -0.721941  1.734132  1.0
2013-01-03 -2.563290  1.250634  1.088354 -2.013576  5.0
2013-01-04 -0.871348  0.710303 -1.490258 -0.148848  5.0

                   A         B         C         D    E
2013-01-01 -1.225880 -0.267427 -0.885455 -0.374412  1.0
2013-01-02 -1.413673  0.515136 -0.721941  1.734132  1.0
2013-01-03 -2.563290  1.250634  1.088354 -2.013576  1.0
2013-01-04 -0.871348  0.710303 -1.490258 -0.148848  1.0